@tailwind base;
@tailwind components;
@tailwind utilities;

@media (hover: hover) {
  .header-button:not(:disabled) {
    @apply hover:bg-stone-100 dark:hover:bg-stone-700;
  }
}

.header-button {
  @apply rounded-full;
}

.header-button:disabled {
  @apply opacity-30;
}

*::-webkit-scrollbar-track {
  border-radius: 10px;
  @apply bg-white dark:bg-stone-900;
}

*::-webkit-scrollbar {
  width: 5px;
  @apply bg-white dark:bg-stone-900;
}

*::-webkit-scrollbar-thumb {
  border-radius: 10px;
  @apply bg-black dark:bg-stone-400;
}

select {
  @apply appearance-none border-b border-l-0 border-r-0 border-t-0 border-stone-400 bg-white pl-2 pr-3 text-center dark:border-stone-500 dark:bg-stone-900;
}

select:active,
select:focus-visible {
  @apply border-b border-l-0 border-r-0 border-t-0 outline-none;
}
